# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/

# Modelos serializados (pesados)
*.pkl

# Ambientes virtuais
venv/
env/
.env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
